// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 33px;
    font-size: 13px;
}

.books {
  display: flex;
  flex-direction: column;
}

table {
  width: 60%;
  padding-bottom: 30px;
}

.books td {
  padding-bottom: 3px;
}